/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
height: 100vh;
display: flex;
/* flex-direction: column; */
font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
font-size: 16px;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}


#background-image
{
    max-height: 100vh;
    width: 35%;
    flex: 1;
    position: fixed;
}
#logo
{
    width: 15%;
    position:fixed;
    bottom: 46%;
    left: 10%;
}
.logo-background
{
    width: 35vw;
    height: 30vh;
    background: rgb(205, 196, 179);
    opacity: 0.7;
    word-spacing: 1rem;
    letter-spacing: 0.85rem;
    bottom: 50%;
    font-size: 2.5rem;
    text-align: center;
    position: fixed;
    max-width: 35vw;
    overflow: hidden;
}
header{
    background-color: wheat;
}
main{
    background: white;
}
.right-side
{
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 35vw;
}

.form-row
{
    display: flex;
    justify-content: space-around;
}